.reading-item {
  background: var(--bgcolor);
  color: var(--textColor);
  box-shadow: var(--boxShadow);
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s ease;
  max-height: 400px;
  overflow: auto;
  /* If you want the card to be less tall when there's little content, add a min-height */
}

.reading-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 16px 4px var(--textColor);
}

.reading-item-title {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: var(--primaryColor);
}

.reading-item-content {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px; /* Space before the button */
}

.btn {
  /* Button styles are already defined in your global.css */
  display: inline-block; /* Add this to make sure button does not stretch */
  cursor: pointer; /* Add a cursor to indicate the button is clickable */
}