<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Platform</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        body {
            background-color: #1E1E1E;
            color: #FFFFFF;
        }

        .navbar {
            background-color: #1E1E1E;
        }

        .navbar-light .navbar-nav .nav-link {
            color: #FFFFFF;
        }

        .navbar-light .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }

        .navbar-light .navbar-toggler {
            border-color: rgba(255,255,255,.5);
        }

        .navbar-light .navbar-toggler:hover {
            background-color: rgba(255,255,255,.1);
        }

        .navbar-brand,
        .navbar-nav .nav-link {
            color: #FFFFFF !important;
        }

        .btn-primary {
            background-color: #2C74B3;
            border-color: #2C74B3;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        .card {
            background-color: #333333;
            color: #FFFFFF;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#" style="color: #FFFFFF;">Learning Platform</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="color: #FFFFFF;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./grammarPage.html" style="color: #FFFFFF;">Grammar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #FFFFFF;">Reading</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: #FFFFFF;">Speech</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="material-icons pt-1" style="color: #FFFFFF;">account_circle</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <div class="row">
            <% courses.forEach(course => { %>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><%= course.title %></h5>
                            <p class="card-text"><%= course.description %></p>
                            <a href="/quizPage/<%= course.id %>" class="btn btn-primary">Begin</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-end fixed-bottom mb-4 mr-4">
            <div class="col-auto">
                <a href="/grammar/" class="btn btn-primary rounded">
                    <span class="material-icons pt-1">add</span>
                </a>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
